* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
}

h4 {
        font-weight: 400;
        text-align: center;
        color: white;
}

p {
        font-weight: 300;
}

section {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
}

.parallax {
        background: fixed no-repeat 50% 50%;
        background-size: cover;
}

.altura {
        height: 100vh;
}

#img1 {
        background-image: url("./imgs/portada_juli.jpg");
}

#img2 {
        background-image: url("./imgs/instagram.jpg");
}

.rosa {
        background-color: #FFA9E0;
        height: 130px;
}

.fiesta {
        height: 80vh;
        padding: 20% 0;
}

.fiesta div img {
        height: 200px;
        width: 200px;
}

.boton {
        background-color: #9ec6b6;
        border-color: #9ec6b6;
        border-width: 1px;
        border-radius: 25px;
}

.borde {
        border-radius: 10px;
}

.btn {
        color: white;
}

.btn:hover {
        background-color: white;
        color: #9ec6b6;
}

.alturaFiesta {
        height: 85vh;
}

.regalo {
        background-color: #9ec6b6;
}

.zoom:hover {
        transform: scale(1.2);
        transition: all 0.3s ease-out;
}
/*
 * ----------------------------------------
 * animation bounce-in-fwd
 * ----------------------------------------
 */
 .bounce-in {
        animation: bounce-in 2s ease infinite;
        width: 150px;
      }
      @keyframes bounce-in {
        0% {
          opacity: 0;
          transform: scale(.3);
        }
        50% {
          opacity: 1;
          transform: scale(1.05);
        }
        70% { transform: scale(.9); }
        100% { transform: scale(1); }
      }
.flecha {
        border-bottom: solid 4px #ffffff;
        border-right: solid 4px #ffffff;
        width: 30px;
        height: 30px;
        transform: translate(-50%, 0%) rotate(45deg);
}
.fade-in {
        animation: fadeIn ease 4s;
        -webkit-animation: fadeIn ease 4s;
        -moz-animation: fadeIn ease 4s;
        -o-animation: fadeIn ease 4s;
        -ms-animation: fadeIn ease 4s;
}

@keyframes fadeIn {
        0% {
                opacity: 0;
        }

        100% {
                opacity: 1;
        }
}

@-moz-keyframes fadeIn {
        0% {
                opacity: 0;
        }

        100% {
                opacity: 1;
        }
}

@-webkit-keyframes fadeIn {
        0% {
                opacity: 0;
        }

        100% {
                opacity: 1;
        }
}

@-o-keyframes fadeIn {
        0% {
                opacity: 0;
        }

        100% {
                opacity: 1;
        }
}

@-ms-keyframes fadeIn {
        0% {
                opacity: 0;
        }

        100% {
                opacity: 1;
        }
}

.scroll-down {
        position: absolute;
        bottom: 70px;
        display: block;
        text-align: center;
        font-size: 20px;
        z-index: 100;
        text-decoration: none;
        text-shadow: 0;
        width: 30px;
        height: 30px;
        border-bottom: 4px solid #ffffff;
        border-right: 4px solid #ffffff;
        z-index: 9;
        left: calc(50% - 15px);
        -webkit-transform: translate(-50%, 0%) rotate(45deg);
        -moz-transform: translate(-50%, 0%) rotate(45deg);
        transform: translate(-50%, 0%) rotate(45deg);
        -webkit-animation: fade_move_down 2s ease-in-out infinite;
        -moz-animation: fade_move_down 2s ease-in-out infinite;
        animation: fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
        0% {
                -webkit-transform: translate(0, -10px) rotate(45deg);
                opacity: 0;
        }

        50% {
                opacity: 1;
        }

        100% {
                -webkit-transform: translate(0, 10px) rotate(45deg);
                opacity: 0;
        }
}

@-moz-keyframes fade_move_down {
        0% {
                -moz-transform: translate(0, -10px) rotate(45deg);
                opacity: 0;
        }

        50% {
                opacity: 1;
        }

        100% {
                -moz-transform: translate(0, 10px) rotate(45deg);
                opacity: 0;
        }
}

@keyframes fade_move_down {
        0% {
                transform: translate(0, -10px) rotate(45deg);
                opacity: 0;
        }

        50% {
                opacity: 1;
        }

        100% {
                transform: translate(0, 10px) rotate(45deg);
                opacity: 0;
        }
}
footer{
        background-color: #667;
        height: 3rem;
}
footer a img{
        height: 30px;
        width: 30px;
}
/* media queries */
@media (max-width: 770px){
 .celu{
        margin-top: 3rem;
        display: flex;
        flex-wrap: wrap;
 }
 .celu figure img{
        height: 192px;
        width: 192px;
 }
}